# .NET and Visual Studio related files
**/bin/
**/obj/
**/*.vsconfig
**/*.vsix
**/*.vssettings
*.suo
*.user
*.cache
*.log
*.vspscc
*.vssscc
*.psess
*.pssc
*.ipch/
.vs/
_UpgradeReport_Files/
TestResults/
[Tt]est[Rr]esult*/
*.VisualState.xml
_ReSharper.*
*.[Rr]e[Ss]harper
*.DotSettings.user
*.resharper.user
*.resharper
*.sln.docstates

# NuGet
*.nuget.props
*.nuget.targets

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Build tooling
msbuild.log
msbuild.err

# Roslyn
*.ruleset
*.editorconfig

# Docker
/Urlshortener.App/appsettings.Development.json
/Urlshortener.App/docker-compose.yml
/Urlshortener.App/Dockerfile
/docker-compose.yml
/docker-compose.override.yml
/docker-compose.dcproj
/.dockerignore